mcd-poc/src/main/mule/batch-processing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="506a513f-bb1a-4ea4-ae1c-f71439f27577" >
		<db:my-sql-connection host="127.0.0.1" port="3306" user="root" password="#dankanshul" database="xml-json-insert" />
	</db:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e71eab1f-02e1-4e29-97a3-42ac670e46f6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="212edd2f-2ba7-4421-9b10-6f46f8edb478" >
		<file:connection workingDir="E:\Caelius_project_data\error-records" />
	</file:config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="b638232f-c592-4f32-87fb-22103a29200c" >
		<http:request-connection protocol="HTTPS"/>
	</http:request-config>
	<flow name="batch-bulk-insert" doc:id="8c689fcd-6cdc-4fa7-9623-26e9b2bfdad8">
		<http:listener doc:name="/batch-bulk-insert" doc:id="b4b0b7ad-e224-4656-b2db-799399760c80" config-ref="HTTP_Listener_config" path="/batch-bulk-insert" />
		<logger level="INFO" doc:name="START" doc:id="f8d4a479-cec7-464f-953f-4603b0d3cadd" message='#[{"START": "$(flow.name)",&#10;"correlationId": correlationId&#10;}]' />
		<file:read doc:id="39a179dd-6b8f-4519-ad99-34b990ed59a3" path="E:\Caelius_project_data\users_1000.xml" doc:name="demo users 1000" outputMimeType="application/xml"/>
		<ee:transform doc:name="xml to json" doc:id="c30f1d5d-e25f-4c94-bc97-9534c2a9b4c7">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.Users pluck ((value, key, index) -> value )
 ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="batch-processing-bulk-insert" doc:id="9d34136d-ecd6-411f-8841-a73374e3836b" maxFailedRecords="1000" maxConcurrency="1">
			<batch:process-records>
				<batch:step name="json-bulk-insert" doc:id="7b86235f-ce34-4be8-ab85-b8e459de7a6e">
					<batch:aggregator doc:name="Batch Aggregator" doc:id="e590b934-e86f-40b9-ba40-2d2bbf86d59a" size="200" preserveMimeTypes="true">
						<db:bulk-insert doc:id="91b12e07-67e5-4f2b-a1f4-42780d9f1809" config-ref="Database_Config" doc:name="Bulk insert">
			<db:sql><![CDATA[INSERT INTO users (Name, Email, Age, City) 
VALUES (:Name, :Email, :Age, :City);
]]></db:sql>
		</db:bulk-insert>
					</batch:aggregator>
					<logger level="INFO" doc:name="Logger" doc:id="30a4f90e-df22-49e3-9b19-a670af7f0167" message='#[payload]' />
				</batch:step>
				<batch:step name="only-failuers" doc:id="c492b64d-5861-43b6-b7c1-27dd3594911e" acceptPolicy="ONLY_FAILURES">
					<logger level="INFO" doc:name="No Failuers" doc:id="583e4056-30d8-4d97-87e9-655151ee7699" message="#[payload]" />
					<batch:aggregator doc:name="write-failed-records" doc:id="05efc6fc-f52a-4dab-9f8e-95b48f9772f6" preserveMimeTypes="true" size="2">
						<file:write doc:name="Write" doc:id="ac917b3e-9716-4b23-9578-a1722b4d0974" config-ref="File_Config" path='#["E:\\Caelius_project_data\\error-records\\" ++ now() as String {format: "yyyyMMdd_HHmmss"} ++ ".txt"]' mode="APPEND">
							<file:content><![CDATA[#[%dw 2.0
output application/json
---
payload]]]></file:content>
						</file:write>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete>
				<logger level="INFO" doc:name="status" doc:id="3059752a-24e8-4dbe-b5b1-3eb4f0eb5b92" message="#[payload]" />
			</batch:on-complete>
		</batch:job>
		<ee:transform doc:name="payload to json" doc:id="1fc0dd85-47b2-473d-9659-2899633fee18">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="END" doc:id="81f21514-afae-41b0-a483-17edb8c96da0" message='#[{&#10;"END": "$(flow.name)",&#10;"correlationId": correlationId&#10;}]' />
	</flow>
	<!-- [STUDIO:"for-each-flow"]<flow name="for-each-flow" doc:id="4ff7b217-3887-48de-822d-c63ebdfa2d7a">
		<http:listener doc:name="for-each" doc:id="609940d0-a20d-4a9a-82d4-bb6dc4110dfd" config-ref="HTTP_Listener_config" path="for-each"/>
		<logger level="INFO" doc:name="START" doc:id="ec3e623d-3ca0-41fc-afdd-87b363799860" message='#[{"START": "$(flow.name)",&#10;"correlationId": correlationId&#10;}&#93;' />
		<file:read doc:name="demo users 1000" doc:id="94b1e9bf-e108-4e84-89af-bc8bc1257a13" path="E:\Caelius_project_data\users_1000.xml" />
		<ee:transform doc:name="xml to json" doc:id="70022351-2e51-4926-b7a3-b81dad3620b6">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
payload.Users pluck ((value, key, index) -> value )
 &#93;&#93;></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="4858c9ea-1e46-43bb-9881-a47e1b366417" batchSize="100">
			<db:bulk-insert doc:name="Bulk insert" doc:id="41653f58-ffa7-42e3-9315-276b91f321b0" config-ref="Database_Config" >
				<db:sql ><![CDATA[INSERT INTO users (Name, Email, Age, City) 
VALUES (:Name, :Email, :Age, :City);
&#93;&#93;></db:sql>
			</db:bulk-insert>
		</foreach>
		<ee:transform doc:name="payload to json" doc:id="f55f0842-4024-4224-afa8-d36e14bbc886">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
payload&#93;&#93;></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="END" doc:id="e37308c0-bf15-4da7-a821-2b5ebeece946" message='#[{&#10;"END": "$(flow.name)",&#10;"correlationId": correlationId&#10;}&#93;' />
	</flow> [STUDIO] -->
	<!-- [STUDIO:"parallel-for-each-flow"]<flow name="parallel-for-each-flow" doc:id="df544fb9-2e34-44d8-be70-454a30848c28">
		<http:listener doc:name="parallel-for-each" doc:id="cfc50689-4203-48db-a5b3-7f93f744462b" config-ref="HTTP_Listener_config" path="parallel-for-each" />
		<logger level="INFO" doc:name="START" doc:id="20e7cc00-e6a2-4431-9a42-1660a86a2c78" message='#[{"START": "$(flow.name)",&#10;"correlationId": correlationId&#10;}&#93;' />
		<file:read doc:name="demo users 1000" doc:id="c2f14eaf-91ab-4f40-bc0b-391d89d7de95" path="E:\Caelius_project_data\users_1000.xml" />
		<ee:transform doc:name="xml to json" doc:id="6cce06a4-e554-4735-aa7b-63074b27db06">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
payload.Users pluck ((value, key, index) -> value )
 &#93;&#93;></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="1" doc:name="Set Variable" doc:id="e806e262-8d7a-41d1-9f65-d02cb5df2810" variableName="x"/>
		<parallel-foreach doc:name="Parallel For Each" doc:id="15cc143c-b93a-41a7-a62c-5ce0d51458b7" maxConcurrency="5">
			<db:insert doc:name="Insert" doc:id="25a9b21f-29fb-4eaf-bacc-5349ed296b38" config-ref="Database_Config">
				<db:sql ><![CDATA[INSERT INTO users (Name, Email, Age, City) 
VALUES (:Name, :Email, :Age, :City);
&#93;&#93;></db:sql>
				<db:input-parameters ><![CDATA[#[payload&#93;&#93;&#93;></db:input-parameters>
			</db:insert>
			<set-variable value="5" doc:name="Set Variable" doc:id="effae916-12aa-4b03-bd73-abec0431db26" variableName="x"/>
			<logger level="INFO" doc:name="Logger" doc:id="59ec4c34-bf63-40ed-86cc-e9dda22b1268" message="#[payload&#93;"/>
		</parallel-foreach>
		<ee:transform doc:name="payload to json" doc:id="5b5a29b0-2783-48ae-a86d-8fa995818253">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
payload&#93;&#93;></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="END" doc:id="b19dd768-4486-4208-9e0e-12d65e1d767c" message='#[{&#10;"END": "$(flow.name)",&#10;"correlationId": correlationId&#10;}&#93;' />
	</flow> [STUDIO] -->
	<!-- [STUDIO:"cache"]<flow name="cache" doc:id="c03185d1-4f82-4b9f-bbc3-cd8c34cf0ab4" >
		<http:listener doc:name="cache" doc:id="d7c0002a-8e48-41f0-a599-a0744a1e6809" config-ref="HTTP_Listener_config" path="cache/{userId}"/>
		<logger level="INFO" doc:name="START" doc:id="eab57333-7237-4f1f-9bfc-8dac613d5bf3" message='#[{"START": "$(flow.name)",&#10;"correlationId": correlationId&#10;}&#93;' />
		<ee:cache doc:name="Cache" doc:id="f35c984b-f5f2-4d7e-8c62-50fb7c8404b0" >
			<logger level="INFO" doc:name="START" doc:id="86c8d186-4646-4c1d-a4b5-27d665c6f187" message="inside cache block"/>
			<http:request method="GET" doc:name="https://reqres.in/api/users/{userId}" doc:id="50bc4f3b-3b6c-44c6-ba6f-85f06a5508db" config-ref="HTTP_Request_configuration" url="https://reqres.in/api/users/{userId}">
				<http:uri-params ><![CDATA[#[{
	"userId":attributes.uriParams.userId
}&#93;&#93;&#93;></http:uri-params>
			</http:request>
			<logger level="INFO" doc:name="END" doc:id="1053aa2a-9d15-41db-9191-b706f140ebe0" message="inside cache block"/>
		</ee:cache>
		<ee:transform doc:name="JSON Message" doc:id="ea42f246-26f5-45d9-9039-47f2b8460bf5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
payload&#93;&#93;></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="END" doc:id="5f4fdaf1-75ba-4b94-ac11-03e5a97e591d" message='#[{&#10;"END": "$(flow.name)",&#10;"correlationId": correlationId&#10;}&#93;' />
	</flow> [STUDIO] -->
	<!-- [STUDIO:"async-scope-flow"]<flow name="async-scope-flow" doc:id="02261b4d-477d-4128-8e20-7d67c4df4c9a">
		<http:listener doc:name="async" doc:id="65d7192c-7b4b-43b5-87e5-14c9fb6ab288" config-ref="HTTP_Listener_config" path="async" />
		<logger level="INFO" doc:name="START" doc:id="3a19affb-60e6-4421-85b1-5bf667914317" message='#[{"START": "$(flow.name)",&#10;"correlationId": correlationId&#10;}&#93;' />
		<set-variable value="5" doc:name="x" doc:id="60e017ed-6d08-4809-8bb2-d1990f393826" variableName="x" />
		<async doc:name="Async" doc:id="86c5ada3-c003-4674-9ffa-8d516ac56a30">
			<set-payload value="payload changed in async scope" doc:name="Set Payload" doc:id="2f2b8248-b882-44dd-9fe7-213f547c2413" />
			<set-variable value="10" doc:name="Set Variable" doc:id="7815c9fd-9901-4ef0-8936-618c2e4c07e1" variableName="x" />
			<logger level="INFO" doc:name="x" doc:id="1a4d2e45-0f33-4eb8-83ae-6ba37e622954" message="#[vars.x&#93;" />
			<logger level="INFO" doc:name="payload" doc:id="b8026885-fffc-44e9-b615-2970b3b2757d" message="#[payload&#93;" />
			<logger level="INFO" doc:name="Logger" doc:id="d5a87a99-e16f-4f86-aab0-73f54c845c6b" />
			<logger level="INFO" doc:name="Logger" doc:id="f1508d95-1db8-4a20-bf3f-7ada07733429" />
		</async>
		<logger level="INFO" doc:name="Logger" doc:id="b2d1b016-982d-4fbe-a896-1429a47b83c7" />
		<logger level="INFO" doc:name="Logger" doc:id="a5e4d5ed-0b2a-4d00-82e0-ec674d8c8045" />
		<logger level="INFO" doc:name="Logger" doc:id="3dcd658d-da6d-467d-86d0-45cfe8afb28e" />
		<logger level="INFO" doc:name="x" doc:id="3f06bf08-2320-4f50-8c9e-45fca1fa373b" message="#[vars.x&#93;" />
		<logger level="INFO" doc:name="payload" doc:id="c4be7050-3c1c-4d79-aeae-8823b1cde9f6" message="payload" />
		<logger level="INFO" doc:name="END" doc:id="d1e2a0e1-39c7-42b0-9463-24ca6f80bee1" message='#[{&#10;"END": "$(flow.name)",&#10;"correlationId": correlationId&#10;}&#93;' />
	</flow> [STUDIO] -->
	<!-- [STUDIO:"until-successful-flow"]<flow name="until-successful-flow" doc:id="7aed1583-afdb-49cf-a01f-fca254fe07d2">
		<http:listener doc:name="until-successful" doc:id="0de1fe2f-03e0-489f-a6b1-9d7c8511d0d3" config-ref="HTTP_Listener_config" path="until-successful" />
		<logger level="INFO" doc:name="START" doc:id="ad33249e-35ba-4cdc-bbb6-7461d03adb0a" message='#[{"START": "$(flow.name)",&#10;"correlationId": correlationId&#10;}&#93;' />
		<until-successful maxRetries="5" doc:name="Until Successful" doc:id="89b90190-e5f0-47f9-a5e6-3e68a65801b4">
			<logger level="INFO" doc:name="Logger" doc:id="c412c3f1-f0e8-4337-8ca9-8500f4782583" />
		</until-successful>
		<logger level="INFO" doc:name="END" doc:id="d9e20947-a841-45fc-a7e0-6ed614187e67" message='#[{&#10;"END": "$(flow.name)",&#10;"correlationId": correlationId&#10;}&#93;' />
	</flow> [STUDIO] -->
	
</mule>
